*{
    margin:0;
    padding:0;
}

header
{
    background: url("ecopetit.cat-wallpapers-of-fairies-princesses-3212930.png") center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.napisy
{
    margin-bottom: 100px;
}
h1
{
    font-size: 80px;
    color: white;
    margin-bottom: 20px;
    font-family: 'Dancing Script', cursive;
}
h2
{
    font-size: 70px;
    color:white;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    
}
button
{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 30px;
    border:none;
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 18px;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 200%;
    color: white;
    z-index: 1;
    cursor: pointer;

}
button:hover
{
    animation: animate 3.5s linear infinite;
}
@keyframes animate
{
    0%
    {
        background-position: 0%;
    }
    100%
    {
        background-position: 200%;
    }
}
button::before
{
    content: '';
    position: absolute;
    top:-5px;
    left:-5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background:linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400px;
    border-radius: 40px;
    opacity: 0;
    transition: 0,5s;
}
button:hover:before
{
    filter: blur(20px);
    opacity: 1;
    animation: animate 3.5s linear infinite;
}
